.restaurant-card {
  border-radius: 16px;
  background: var(--primary-white);
  border: 1px solid var(--neutral-gray-lightest);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.restaurant-image {
  height: 188px;
}

.restaurant-card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.restaurant-card-image {
  border-radius: 16px 16px 0 0;
  height: 100%;
}

.restaurant-card-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.restaurant-card-title.loading {
  width: 100%;
  content: "";
  height: 24px;
  animation: shimmer 1.5s infinite linear;
}

.featured {
  width: 80px;
  height: 32px;
  background: var(--primary-default);
  color: var(--white);
  border-radius: 0 16px;
  font-family: var(--font-nunito);
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  align-content: center;
}

.clock {
  width: 12px;
  height: 12px;
}

.divider {
  background-color: var(--primary-default);
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.delivery-time {
  color: var(--neutral-gray);
  font-family: var(--font-nunito);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.loading {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
