.main-header {
  height: 5rem;
  width: 100%;
  background-color: var(--neutral-white);
  box-sizing: border-box;
  border-bottom: 1px solid var(--neutral-gray-lightest);
  position: fixed;
  z-index: 1;
}

.menus {
  display: flex;
  gap: 1rem;
}

.menus menu:last-child {
  border-left: 1px solid var(--neutral-gray-lightest);
  padding-left: 1rem;
}

.hamburger-menu {
  background-color: var(--neutral-gray-lightest);
  width: 48px;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  color: var(--neutral-gray-dark);
  border-left: 1px solid var(--neutral-gray-lightest);
}

.hamburger-menu-wrapper {
  border-left: 1px solid var(--neutral-gray-lightest);
  padding-left: 1.5rem;
}
